@{
  Layout = "_Layout";
}

<h1>Recipe Details: </h1>

<h2>@Model["recipe"].Description</h2>
<h3>Category: @Model["category"].Name</h3>

<a href='/categories/@Model["category"].Id/recipes/new'>Add another recipe</a>
<a href='/categories'>View all categories</a>