@* @{
  Layout = "_Layout";
}

@using RecipeBox.Models;

<h3>Here are all the recipes in this category:</h3>

<ol>
@foreach (Recipe recipe in @Model["recipes"])
{
  <li><a href='/categories/@Model["category"].Id/recipes/@recipe.Id'>@recipe.Description</a></li>
}
</ol>

<p><a href='/categories/@Model["category"].Id/recipes/new'>Add a new recipe</a></p>
<p><a href='/categories'>Return to category list</a></p>
<p><a href='/'>Return to Main Page</a></p> *@